<!-- yourapp/templates/login.html-->
<!--"{% url 'login' %}" -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareSquare - Login</title>
</head>
<body>
    </div>
        <style>
            h5{
            color:red;
             }
        </style>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Welcome To ShareSquare</h2>
 
        <p>
            <label>Username : <input type = "text" name = "username" required/></label>
        </p>
 
        <p>
            <label>Password : <input type = "password" name = "password" required/></label>
        </p>
 
        <p>
            <button type="submit">Enter</button>
        </p>
        <div>
            <p> Don't have an account already? <a href="/signup"> Register</a></p>
        </div> 
 
    </form>
</body>
</html>